---
import BaseLayout from '../../layouts/BaseLayout.astro';
// const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'Blog'

import { getCollection, type CollectionEntry } from 'astro:content';

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts: CollectionEntry<'blog'>[] = await getCollection('blog');
allBlogPosts.sort((a, b) => b.data.published.getTime() - a.data.published.getTime());

const blogPostsByYear: Record<number, CollectionEntry<'blog'>[]> = allBlogPosts.reduce((acc, post) => {
    const year = post.data.published.getFullYear();
    if (!acc[year]) {
        acc[year] = [];
    }
    acc[year].push(post);
    return acc;
}, {});
---

<BaseLayout pageTitle={pageTitle} >
    {Object.entries(blogPostsByYear).sort((a, b) => Number(b[0]) - Number(a[0])).map(([year, posts]) => (
        <div class="pb-1">
            <h3 class="">{year}</h3>
                {posts.map((post: any) => (
                    <div class="py-3">
                        <a href={`/blog/${post.slug}`} class="text-stone-700 text-lg font-bold no-underline hover:underline">
                            {post.data.title}
                        </a>
                        <span class="text-sm ml-6 text-gray-600">{post.data.published.toISOString().split('T')[0]}</span>
                        <p>{post.data.excerpt}</p>
                    </div>
                ))}
        </div>
    ))}
</BaseLayout>
